<!doctype html>
<html ng-app="app" lang="en" ng-strict-di>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="shortcut icon" href="favicon.ico" />

    <title>GraphvizViewer Demo</title>

    <base href=".">
  </head>

  <body>
    <div
      class="container-fluid"
      ng-controller="MainController as c">

      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="input-group input-group-sm">
            <input
              ng-model="c.ontology"
              type="text"
              class="form-control"
              placeholder="Enter ontology (go, uberon, etc)"
              aria-describedby="ontology-id">
            <input
              ng-model="c.classId"
              type="text"
              class="form-control"
              placeholder="Enter ID of ontology class"
              aria-describedby="import-class-id">
            <span class="input-group-btn">
              <button
                type="button"
                ng-disabled="c.classId.length === 0"
                class="btn btn-success btn-xs btn-block"
                ng-click="c.loadClass(c.classId, c.ontology)">
                Display
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="row" ng-if="c.errorMessage">
        <div class="col-xs-12">
          <pre>{{c.errorMessage}}</pre>
        </div>
      </div>

      <div class="row" ng-hide="!c.DOTSource">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-default btn-block"
            ng-model="c.showDOTSource"
            uib-btn-checkbox xbtn-checkbox-true="1" xbtn-checkbox-false="0">
            Source for <b>{{c.DOTTitle}}</b>
          </button>

          <div
            class="pre-scrollable"
            ng-if="c.showDOTSource">
            <pre><code>{{c.DOTSource}}</code></pre>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="!c.DOTSource">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-default zoom-ul-button"
            ng-click="c.zoomed = !c.zoomed">
            <i class="glyphicon glyphicon-fullscreen"></i>
          </button>

          <div
            ng-hide="!c.showDOTRender">
            <div
              id="DOTRender"
              class="DOTRender"
              ng-dblclick="c.zoomed = !c.zoomed"
              ng-class="{zoom:c.zoomed}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
